#confirmationcontainer {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 1000px;
  padding-top: 103px; 
  padding-bottom: 103px; 
}

#confirmationcontainer h3 {
  font-size: 48px; 
  margin-top: 21px; 
}

#confirmationcontainer p {
  font-size: 22px; 
  margin-top: 21px; 
  margin-bottom: 47px; 
  width: 528px; 
  height: 78px; 
  text-align: center; 
}

