#sectioncontainer {
  margin-top: 102px; 
  padding-bottom: 106px; 
  display: flex; 
  flex-direction: row; 
}

#skillstextheading {
  margin-left: 138px;  
  width: 1000px; 
}

#skillstextheading h3 {
  font-size: 48px; 
}

#skillstextheading p {
  font-size: 18px; 
}

#skillsdescription {
  font-size: 18px; 
  padding-right: 150px; 
  margin-left: 170px;  
  line-height: 35px; 
}
