#startdiv {
  background-color: #E5F0F7;
  height: auto; 
  display: grid; 
  grid-template-rows: auto auto;
}

#startcontainer {
  display: grid; 
  grid-template-columns: 700px auto;
}

@media (max-width: 480px) {
  #startcontainer {
    display: flex; 
    flex-direction: column; 
    margin-left: 40px; 
  }
}
