#startdiv {
  background-color: #f9f9f9;
  height: auto; 
}

#startcontainer {
  display: flex; 
  flex-direction: row; 
  gap: 500px; 
}

@media (max-width: 480px) {
  #startcontainer {
    display: flex; 
    flex-direction: column; 
    margin-left: 40px; 
  }
}
