/* checkbox-custom.css */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: white;
  transition: background-color 0.2s;
}

.custom-checkbox:checked {
  background-color: #f5ff82;
  border-color: black;
}

.custom-checkbox:checked::before {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 16%, 81% 0%, 39% 64%);
}
