#paragraph p {
  font-size: 18px; 
  line-height: normal; 

}

#securitycontainer {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  position: relative;
  z-index: 10;
  width: 1000px; 
  margin-bottom: 0px;   
  padding-top: 1000px; 
}

#securitytext h3 {
  font-size: 48px; 
  margin-top: 42px;
  margin-bottom: 50px;  
  text-align: center; 
  line-height: normal; 
}

#securitytext p {
  font-size: 18px; 
  text-align: center; 
  line-height: 35px; 
  margin-left: 100px; 
  margin-right: 100px; 
}

#intro {
  margin-bottom: 50px; 
}

#securitycontainer label {
  font-size: 18px; 
}

#collage {
  width: 339px; 
  height: 242px; 
}

#buttongroup {
  width: 339px; 
  height: 45px; 
  padding-left: 30px; 
  padding-right: 30px; 
  padding-top: 13px; 
  padding-bottom: 13px; 
}

@media (max-width: 480px) {
  #securitycontainer {
    width: 333px; 
    height: 1000px; 
  }

  #securitytext h3 {
    font-size: 36px;
    margin-top: 60px; 
  }

  #securitytext p {
    font-size: 16px; 
    margin-left: 20px; 
    margin-right: 20px; 
  }

  #collage {
    width: 243px; 
    height: 210px; 
    margin-top: 104px; 
  }
  
  #buttongroup {
    width: 288px; 
    height: 45px; 
    font-size: 12px; 
    margin-bottom: 50px; 
  }

  #checkbox {
    font-size: 16px; 
    margin-left: 10px; 
  }
}