#choicecontainer {
  display: flex; 
  flex-direction: column;
}

#individualchoice {
  display: flex; 
  flex-direction: row;
  width: 500px; 
  height: 75px; 
  border-radius: 13px;
  padding-top: 15px; 
  padding-bottom: 15px; 
  padding-left: 14px; 
  margin-bottom: 15px; 
}

#individualchoice input {
  margin-right: 20px; 
  width: 20px; 
  height: 20px; 
}

#individualchoice label {
  font-size: 18px; 
}

@media (max-width: 480px) {
  #individualchoice {
    width: 295px; 
    height: 54px; 
    margin-left: 54px; 
  }

  #individualchoice label {
    font-size: 16px; 
  }
}