#quizdiv {
  background-color: #f9f9f9;
  width: auto; 
  height: auto; 
  padding-top: 23px; 
  padding-bottom: 23px; 
  padding-left: 150px; 
  display: flex; 
  flex-direction: column; 
}

#quizheader {
  margin-left: -10px;
}

#quizheader h3 {
  margin-left: -120px; 
  margin-right: 150px; 
  font-size: 48px; 
  margin-top: 21px;  
  line-height: normal; 
}

#quizheader p {
  font-size: 18px; 
  margin-left: -120px; 
  margin-right: 150px;
  line-height: 35px; 
}

#quizheader header {
  display: flex; 
  flex-direction: column; 
}

#backnext {
  margin-left: 200px; 
  padding-bottom: 35px; 
  margin-top: 15px; 
}

#back {
  font-size: 14px; 
  margin-right: 8px; 
  padding-left: 60px; 
  padding-right: 60px; 
  padding-top: 13px; 
  padding-bottom: 13px; 
}

#next {
  font-size: 14px; 
  padding-left: 60px; 
  padding-right: 60px; 
  padding-top: 13px; 
  padding-bottom: 13px; 
}

@media (max-width: 480px) {
  #quizdiv {
    margin-left: -40px; 
  }

  #quizheader h3 {
    font-size: 36px; 
    margin-left: 40px;
    margin-right: 50px; 
    margin-bottom: -30px; 
  }

  #quizheader p {
    font-size: 16px;
    margin-left: 40px; 
    margin-right: 50px; 
    line-height: 27.2px; 
  }

  #questionnumber p {
    margin-bottom: -10px; 
  }

 #backnext {
  display: flex; 
  flex-direction: column; 
  margin-left: 55px; 
  width: 293px; 
  height: 45px; 
  margin-bottom: 100px; 
 }

 #back {
  margin-bottom: 20px; 
 }
}