
.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #7A7A7A;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: transparent;
  margin-right: 0.5rem;
}

.custom-radio:checked {
  background-color: #f5ff82;
  border-color: #7A7A7A;
}

.custom-radio:checked::before {
  content: "";
  display: block;
  width: 0.60rem;
  height: 0.60rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
