#heroheader {
  display: flex; 
  flex-direction: row; 
  margin-left: 138px; 
}

#heroheader h2 {
  font-size: 62px; 
  margin-right: 600px; 
  margin-top: 80px;
  position: relative; 
  line-height: 137.827%;
}

#heading-subheading {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
}

#heroheader h6 {
  font-size: 22px; 
  margin-top: -185px; 
  line-height: normal;
}

#heroheader {
  margin-left: 138px; 
  display: flex; 
  flex-direction: row; 
}

#heading-container {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
}

#subheading {
  width: 451px; 
  height: 57px; 
  margin-top: 200px; 
}

#collage {
 width: 333px; 
 height: 372px; 
}

#lets-begin {
  margin-top: -150px; 
  margin-bottom: 250px; 
}

@media (max-width: 480px) {
  #heroheader h2 {
    font-size: 52px; 
    margin-right: 50px;
    margin-left: -10px;
    line-height: normal; 
    margin-top: -110px; 
  }

  #heading-subheading {
    margin-left: 48px; 
  }

  #heroheader {
    display: flex; 
    flex-direction: column-reverse;
    margin-left: 0px; 
  }

  #heroheader h6 {
    margin-left: -10px;
    margin-right: 195px; 
    line-height: normal; 
  }

  #subheading {
    margin-top: 170px; 
  }

  #lets-begin {
    margin-top: 60px;
    width: 295px; 
    height: 45px; 
    margin-left: -10px; 
  }

}