#guideContainer {
  margin-top: 100px; 
  background-color: #E5F0F7;
}

#homepageHeader {
  display: flex; 
  flex-direction: row;
}

#headerText {
  margin-left: 0px; 
  padding-top: 179px; 
}

#headerText h3 {
  font-size: 48px; 
  margin-right: 20px; 
  line-height: normal; 
}

#guideRectangle {
  width: 672px; 
  height: 414px; 
}

#instructions h4 {
  font-size: 32px; 
}

#instructions {
  display: flex; 
  flex-direction: row; 
  line-height: normal; 
  padding-bottom: 100px;
}

#discover {
  display: flex; 
  flex-direction: column; 
  margin-left: 138px; 
}

#discover1 {
  width: 44px;
  height: 44px;
  margin-bottom: 37px; 
}

#discovertext h4 {
  margin-right: 200px; 
}

#discovertext p {
  margin-right: 180px;
  margin-top: 11px; 
}

#engage {
  display: flex; 
  flex-direction: column; 
}

#engage2 {
  width: 44px; 
  height: 44px; 
  margin-bottom: 37px; 
}

#engagetext h4 {
  margin-right: 0px; 
}

#engagetext p {
  margin-right: 450px; 
  margin-top: 11px; 
}

#unlock {
  display: flex; 
  flex-direction: column; 
  margin-left: -300px;
}

#unlock3 {
  width: 44px; 
  height: 44px; 
  margin-bottom: 37px; 
}

#unlocktext h4 {
  margin-right: 200px; 
}

#unlocktext p {
  margin-right: 130px; 
  margin-top: 11px; 
}

@media (max-width: 480px) {
  #guidecontainer {
    margin-top: 0px; 
  }

  #homepageHeader {
    display: flex; 
    flex-direction: column-reverse; 
    padding: 0px; 
    margin-top: 0px; 
  }

  #guideRectangle {
    width: 335px;
    height: 242px; 
  }

  #headerText {
    padding-top: 62px; 
  }

  #headerText h3 {
    font-size: 36px; 
    margin-left: 1px; 
    line-height: normal; 
  }

  #guideContainer section {
    padding-top: -30px; 
    display: flex; 
    flex-direction: column; 
  }

  #instructions {
    display: flex; 
    flex-direction: column; 
  }

  #instructions h4 {
    font-size: 20px; 
    line-height: normal;  
  }

  #instructions p {
    font-size: 16px; 
    line-height: 27.2px; 
  }

  #discover {
    display: flex; 
    flex-direction: row;
    margin-left: 0px; 
    padding-left: 20px; 
  }

  #discover1 {
    width: 29px; 
    height: 29px;
    margin-right: 8px; 
  }

  #discovertext h4 {
    margin-right: 0px; 
  }

  #discovertext p {
    margin-bottom: 15px; 
  }

  #engage {
    display: flex; 
    flex-direction: row; 
    margin-left: 0px;  
    margin-right: 0px; 
    padding-left: 20px; 
    padding-right: 0px; 
  }

  #engage2 { 
    width: 29px;
    height: 29px; 
    margin-right: 8px;
  }

  #engagetext h4 {
    padding-right: 0px;  
  }


  #unlock {
    display: flex; 
    flex-direction: row; 
    margin-left: 0px; 
    padding-left: 20px; 
  }

  #unlock3 {
    width: 29px; 
    height: 29px; 
    margin-right: 8px; 
  }

}