#ourvision {
  display: flex; 
  flex-direction: row;
  margin-top: 100px; 
}

#visionrectangle {
  width: 710px; 
  height: 810px; 
}

#visiontext {
  display: flex; 
  flex-direction: column; 
  margin-left: 150px; 
}

#visiontext h3 {
  font-size: 48px; 
  padding-right: 250px; 
  position: relative; 
  z-index: 1;
  line-height: normal; 
}

#visiontext p {
  font-size: 18px; 
  margin-top: 172px; 
}

/* #visionVector {
  width: 1035px; 
  height: 685px; 
  position: relative; 
  z-index: -2; 
  margin-top: -600px; 
} */

#ourVisionBody { 
  line-height: 35px; 
}


@media (max-width: 480px) {
  #ourvision {
    display: flex; 
    flex-direction: column; 
    margin-top: 50px; 
  }

  #visionrectangle {
    width: 339px; 
    height: 469px; 
  }

  #visiontext h3 {
    font-size: 36px; 
    margin-left: -120px; 
    position: relative; 
    z-index: 0;
    line-height: normal; 
  }

  #visiontext p {
    font-size: 16px; 
    margin-left: -120px; 
    margin-top: -10px; 
    margin-bottom: -10px; 
  }

  #ourVisionBody {
    margin-left: -120px; 
    margin-right: 0px; 
    line-height: 35px; 
  }

  /* #visionVector {
    width: 583px; 
    height: 402px; 
    margin-top: -500px; 
  } */
}