/* HTML */ 
body, html {
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  background-color: #f9f9f9;
}

h2 {
  font-family: 'DM Serif Text';
}

h3 {
  font-family: 'DM Serif Text'
}

h4 {
  font-family: 'DM Serif Text';
}

p {
  font-family: 'DM Sans';
}

/* ID

#vector img {
  position: relative; 
  z-index: -2;
}

#image2 img {
  position: relative; 
  z-index: 1
}

#characterlogo img {
  position: relative; 
  z-index: 1; 
} */



/* Media */