/* HTML */ 

html {
  background-color: #f9f9f9;
}

h2 {
  font-family: 'DM Serif Text';
}

h3 {
  font-family: 'DM Serif Text'
}

h4 {
  font-family: 'DM Serif Text';
}


/* ID */

#vector img {
  position: relative; 
  z-index: -2;
}

#image2 img {
  position: relative; 
  z-index: 1
}

#characterlogo img {
  position: relative; 
  z-index: 1; 
}

#collage img {
  width: 704.658px; 
  height: 755.484px;
}


/* Media */ 

