/* HTML */ 

html {
  background-color: #f9f9f9;
}

h2 {
  font-family: 'DM Serif Text';
  position: relative;
  z-index: 1;
}

h3 {
  font-family: 'DM Serif Text';
  position: relative;
  z-index: 1;
}

h4 {
  font-family: 'DM Serif Text';
}

p {
  position: relative; 
  z-index: 1; 
}

/* ID */

#visionrectangle img {
  position: relative; 
  z-index: 2; 
}

#vector img {
  position: relative; 
  z-index: -2;
}

#image2 img {
  position: relative; 
  z-index: 1
}

#rectangle img {
  position: relative;
  z-index: -1; 
}

#characterlogo img {
  position: relative; 
  z-index: 1; 
}

#collage img {
  width: 704.658px; 
  height: 755.484px;
}


/* Media */ 

