header {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  margin-left: 138px; 
  margin-top: 28px; 
  margin-bottom: 75px; 
  padding-right: 50px; 
} 

#navheader img {
  width: 168px;
  height: 37px; 
}


@media (max-width: 480px) {
  header {
    display: flex; 
    flex-direction: row; 
    justify-content: start;
    gap: 49px; 
    margin-left: 20px; 
    margin-top: 20px; 
    margin-bottom: 33.21px; 
  }

  #navheader img {
    width: 114px; 
    height: 25px; 
  }

  #navstyle {
    display: flex; 
    justify-content: space-around;
  }
}